#messagePopup{

    position:absolute;

    top:-100px;
    left:50%;

    transform:translateX(-50%);

    min-width:260px;
    max-width:500px;

    padding:20px 30px;

    background:white;

    border:4px solid black;

    border-radius:20px;

    display:flex;

    justify-content:center;
    align-items:center;

    z-index:1000;

    transition:0.3s;
}

#messageText{

    margin:0;

    text-align:center;

    font-size:28px;
}

#inputPopup{

    position:absolute;

    top:-250px;
    left:50%;

    transform:translateX(-50%);

    width:320px;

    padding:25px;

    background:white;

    border:4px solid black;

    border-radius:20px;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:10px;

    z-index:1001;

    transition:0.3s;

    opacity:0;

    pointer-events:none;
}

#popupInput{

    width:240px;

    height:40px;

    font-size:24px;

    text-align:center;
}

#popupConfirm{

    width:120px;

    height:50px;

    font-size:24px;

    cursor:crosshair;
}