#skinMenu{

    position:absolute;

    left:0;
    top:0;

    width:100%;
    height:100%;

    background:#ddd;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:20px;

    z-index:11;
}

#skinPreview{

    width: 15vw;
    height: 15vw;


}

#backSkin,
#confirmSkin{

    margin-top:0px;
    transition:0.15s;

}

#backSkin:hover,
#confirmSkin:hover{
    transform:scale(1.1);
}

#colorButtons{

    transform: translateY(0px);

}

#skinMenu button{

    width:100px;
    height:50px;

    font-size:20px;

    margin:5px;
    cursor:crosshair;
    transition:0.15s;
}

#skinMenu button:disabled{

    cursor:default;

    transform:none !important;
}

#colorButtons button:not(:disabled):hover{
    transform:scale(1.1);
}

#unlockPopup{

    position:absolute;

    top:20px;
    right:-300px;

    width:270px;
    height:140px;

    background:white;

    border:4px solid black;

    border-radius:20px;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    overflow:hidden;

    gap:5px;

    z-index:99;

    transition:0.6s;
}

#unlockText{
    margin:0;
}

#unlockPreview{
    display:block;
    margin:0 auto;
}
