#mobileBtn{

    position:absolute;

    left:80px;
    top:400px;

    width:70px;
    height:70px;

    font-size:36px;

    cursor:crosshair;

    z-index:20;

    transition:0.15s;
}

#mobileBtn:hover{

    transform:scale(1.05);
}

#mobileBtn:active{

    transform:scale(0.95);
}

#mobileLeft,
#mobileRight,
#mobileJump,
#mobileExit{

    position:absolute;

    width:90px;
    height:90px;

    font-size:42px;

    border:none;

    background:white;

    z-index:50;

    cursor:crosshair;

    transition:0.1s;

    opacity:0.8;
}

#mobileLeft:active,
#mobileRight:active,
#mobileJump:active,
#mobileExit:active{

    transform:scale(0.92);

    opacity:1;
}

#mobileLeft{

    left:25px;
    bottom:25px;
}

#mobileRight{

    left:130px;
    bottom:25px;
}

#mobileJump{

    right:25px;
    bottom:25px;
}

#mobileExit{

    left:20px;
    top:50px;

    width:70px;
    height:70px;

    font-size:32px;
}
