#universeCharactersPage {
    margin-left: 1vw;
    margin-right: 1vw;
}

.universeCharactersPages {
    flex-direction: column;
}

.universeCharactersPagesHead {
    display: flex;
    align-items: center;
}

#universeCharactersPage img {
    width: 25vw;
    aspect-ratio: 1/1;

    margin-top: 2vh;

    border: gray solid 4px;

    text-align: left;
}

.universeCharactersPagesTitles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;

    text-align: left;
}

.universeCharactersPagesTexts {
    margin-top: 2vh;
}