#universeCharactersPage {
    margin-left: 1vw;

    display: flex;
    align-items: center;
}

#universeCharactersPage img {
    width: 25vw;
    aspect-ratio: 1/1;

    margin-top: 2vh;

    border: gray solid 4px;

    text-align: left;
}

.universeCharactersPageTitles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-left: 2vw;

    text-align: left;
}