body {
    margin:0;
    background:#ddd;
    overflow:hidden;

    touch-action:none;
    user-select:none;
    -webkit-user-select:none;
}

canvas {
    display:block;
    margin:auto;
    background:#eee;
}

#game{
    outline:none;
    box-shadow:none;
}

#game:focus{
    outline:none;
}

#info {
    position:absolute;
    top:10px;
    left:10px;
    z-index:5;
}

#versionInfo{
    position:absolute;
    left:10px;
    bottom:10px;
    z-index:999;

    font-size:18px;
    color:#000;
}

#switchLevelsText,
#backToMainText,
#openAchText{
    margin:0px;
}

#menu{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#ddd;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:10px;
    z-index:10;
}

#menu h1{
    font-size:50px;
    margin:0;
}

#menu button{
    width:300px;
    height:100px;
    font-size:24px;
    cursor:crosshair;
    transition:0.15s;
}

#menu button:disabled{
    cursor:default;
}

#menu button:not(:disabled):hover{
    transform:scale(1.05);
}
