#gamePage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    padding: 0;

    user-select: none;
}

#parkour, #wsol {
    background-color: lightgray;
    border: gray solid 5px;
    width: auto;
    height: 80vh;

    align-items: center;
    margin-top: 0.5vh;
}

#parkourTitle, #wsolTitle {
    text-align: center;

    margin-top: 1vh;
}

#parkourSubTitle, #wsolSubTitle {
    text-align: center;

    margin-top: 1vh;
}

#parkourCoverImg,
#wsolCoverImg {
    width: auto;
    height: 45vh;

    display: flex;
    margin: 0 auto;
}

#parkourBtn, #wsolBtn {
    width: 8vw;
    height: 6vh;

    background-color: white;
    border: gray solid 4px;

    text-align: center;
    justify-content: center;
    align-items: center;

    display: flex;
    margin: 5vh auto 0 auto;

    font-size: 95%;
    font-weight: bold;
}