#gamePage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    padding: 1vw;
    
}

.gamesCards {
    background-color: lightgray;
    border: gray solid 5px;

    width: auto;

    align-items: center;
}

#parkourTitle, #wsolTitle {
    text-align: center;

    margin-top: 1vh;
}

#parkourSubTitle, #wsolSubTitle {
    text-align: center;

    margin-top: 1vh;
}

#parkourCoverImg,
#wsolCoverImg {
    width: auto;
    height: 45vh;

    display: block;
    margin: 0 auto;
}

#parkourBtn, #wsolBtn {
    width: 8vw;
    height: 6vh;

    background-color: white;
    border: gray solid 4px;

    text-align: center;
    justify-content: center;
    align-items: center;

    display: flex;
    margin: 2vh auto 2vh auto;

    font-size: 95%;
    font-weight: bold;
}