#navigate {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    height: 15vh;

    background-color: lightgray;
    border: gray solid 7px;
    user-select: none;
}

/* 主页按钮 */
#mainPageBtn {
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: none;
    border: none;

    width: 45vh;
    height: 15vh;
}

#carImg {
    width: 14vh;
    height: 14vh;

    text-align: left;
}

#mainPageBtnTitle,
#mainPageBtnSubTitle {
    margin: 0 auto;
    margin-right: 3vh;

    text-align: right;
}

#mainPageBtnText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
}

#mainPageBtnTitle {
    margin-top: 0.2vh;

    font-size: 5vh;
    font-family: 'Lucida Console';
}

#mainPageBtnSubTitle {
    font-style: italic;
    font-size: 2vh;
}

/* 导航栏滚动条 */
#navigateScroll {
    display: flex;
    flex: 1;
    overflow-x: auto;
    white-space: nowrap;   
}

#navigateScroll::-webkit-scrollbar {
    display: none;
}

/* 其他按钮 */
#navigateScroll button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8vw;
    height: 15vh;
}
