#musicSongsCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    padding: 1vw;

}

.musicSongsPageCards {
    background-color: lightgray;
    border: gray solid 5px;

    width: auto;
    height: 61vh;

    align-items: center;
}

#musicSongsPage h1,
#musicSongsPage h2,
#musicSongsPage h3 {
    text-align: center;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#musicSongsPage button {
    width: 8vw;
    height: 6vh;

    background-color: white;
    border: gray solid 4px;

    text-align: center;
    justify-content: center;
    align-items: center;

    display: flex;
    margin: 1vh auto 1vh auto;

    font-size: 95%;
    font-weight: bold;
}

#musicSongsPage img {
    width: auto;
    height: 60%;

    display: block;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}